<div class="txt-fx">
  <p class="hello anim-typewriter">eSilva Portfolio.</p>
</div>
<div class="effect">
  <div class="left-top"></div>
  <div class="right-top"></div>
  <div class="left-bottom"></div>
  <div class="right-bottom"></div>
</div>
