<div class="txt-fx">
  <p class="hello anim-typewriter">eSilva Portfolio.</p>
</div>
<div class="effect">
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
  <div class="loading-fx"></div>
</div>
