<div class="presentation">
  <div class="text-center information">
    <h1 class="name">ESTEBAN SILVA</h1>
    <span class="active">Full Stack Web Developer</span>
    <div class="line">
      <div class="right"></div>
      <div class="left"></div>
    </div>
    <span class="status">I’m currently available for freelance / full-time work.</span>
  </div>
</div>
