<div class="presentation">
  <div class="text-center information">
    <h1 class="name">ESTEBAN SILVA</h1>
    <span class="active">Full Stack Ruby On Rails Developer</span>
    <div class="line">
      <div class="right"></div>
      <div class="left"></div>
    </div>
    <span class="status">I’m currently available for freelance / full-time work.</span>
  </div>
</div>

<script>
  $( document ).ready(function() {
    setInterval(function(){ 
      $('.nav-up').removeClass('nav-up');
      $('.first-animation').remove();
    }, 7500);
    $('body').addClass('load');
  });
</script>