<div class="row social">
  <div class="col-md-12 text-center align-self-center">
    <div class="pull-left">
      <%= link_to "#{fa_icon "linkedin"}".html_safe, "https://www.linkedin.com/in/esteban-silva-98b94b157/", target: :_blank, title: 'LinkedIn' %>
      
      <%= link_to "#{fa_icon "github"}".html_safe, "https://github.com/eSilvac", target: :_blank, title: 'Github' %>

      <%= link_to "#{fa_icon "telegram"}".html_safe, "javascript:void(0)", target: :_blank, title: 'Telegram' %>
    </div>
    <div class="pull-right">
      <span class="copy-r">© 2018 - Esteban Silva</span>
    </div>
  </div>
</div>