<section class="about-me" id="about-me">
  <div class="container">
    <%= render "about" %>
  </div>
</section>
<section class="portfolio" id="portfolio">
  <div class="container">
    <%= render "portfolio" %>
  </div>
</section>
<footer id="contact">
  <div class="container">
    <%= render "contact" %>
  </div>
</footer>