.about-me {
  .presentation {
    margin-top: 40px;
    span {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .my-info{
    margin-top: 25px;
    .photo {
      img {
        border: 8px solid #303030;
        border-radius: 5px;
      }
    }
    .description {
      div {
        color: white;
        background-color: #303030;
        padding: 15px;
        border-radius: 15px;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .skills {
    margin-top: 30px;
    margin-bottom: 10px;
    .title {
      text-align: center;
      font-size: 20px;
      margin: 10px 0;
    }
    span {
      font-size: 13px;
      font-weight: bold;
      margin: 5px 0 30px;
      display: block;
    }
  }
}

@media (max-width:992px) {
  .about-me {
    .description {
      div {
        margin-top: 30px;
      }
    }
  }
}