.contact {
  padding: 100px 0 100px;
  background: url(/assets/background/contact_me.jpeg) no-repeat center center; 
  background-size: cover;
  .contact-me {
    color: white;
    h1 {
      margin-top: 20px;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }
    label {
      font-weight: bold;
    }
  }
}