footer {
  background-color: $bg-principal;
  padding: 20px 0 60px;
  .contact-title {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .contact {
    .contact-me {
      color: white;
      h1 {
        font-size: 25px;
        text-align: center;
        font-weight: bold;
      }
      label {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
      }
      input, textarea {
        color: white;
        background-color: #1E5170;
        margin-bottom: 7px;
        border: 2px solid white;
        border-radius: 0;
      }
      input:focus, textarea:focus {
        box-shadow: 0 0 5px rgba(68, 62, 56, 1);
        border: 2px solid rgba(68, 62, 56, 1);
      }
      .btn {
        margin-top: 5px;
        cursor: pointer;
        transition-duration: .2s;
        &:hover {
          background-color: white;
          color: rgba(68, 62, 56, 1);
          box-shadow: 0 0 5px rgba(68, 62, 56, 1);
          border: 2px solid rgba(68, 62, 56, 1);
        }
      }
    }
    .social {
      a, .icon {
        font-size: 35px;
        color: white;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
        transition-duration: .5s;
        &:hover {
          color: black;
          background-color: #39B8C6;
        }
      }
      .facebook {
        margin-bottom: 35px;
        a { padding: 10px 19px;}
      }
      .github {
        margin-bottom: 35px;
        a { padding: 11px 15px;}
      }
      .email {
        .icon {
          cursor: pointer;
          padding: 11px 13px;
        }
        .email-dir {
          display: none;
          background-color: #39B8C6;
          margin-bottom: 0;
          padding: .4em;
          border: .1em solid black;
          border-radius: 10px;
          .copy .fa {
            cursor: pointer;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
