.first-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  .effect {
    div {
      background-color: black;
      position: absolute;
      top: 0;
      width: 10%;
      height: 100%;
      transition: all .8s ease-out;
      z-index: 1;
    }
    .loading-fx:nth-child(1) { right: 0; transition-delay: 4s; }
    .loading-fx:nth-child(2) { right: 10%; transition-delay: 4.08s; }
    .loading-fx:nth-child(3) { right: 20%; transition-delay: 4.16s; }
    .loading-fx:nth-child(4) { right: 30%; transition-delay: 4.24s; }
    .loading-fx:nth-child(5) { right: 40%; transition-delay: 4.32s; }
    .loading-fx:nth-child(6) { right: 50%; transition-delay: 4.4s; }
    .loading-fx:nth-child(7) { right: 60%; transition-delay: 4.48s; }
    .loading-fx:nth-child(8) { right: 70%; transition-delay: 4.56s; }
    .loading-fx:nth-child(9) { right: 80%; transition-delay: 4.64s; }
    .loading-fx:nth-child(10) { right: 90%; transition-delay: 4.72s; }
  }
}

@media only screen and (max-width: 768px) {
  .first-animation {
    display: none;
  }
}